/africaasiaspain
/ausnz
/europe
/na
/ngbin
/sa
/uk
.DS_Store
/resources
*.csv
*.snakemake
.idea
/results
dag*
__pycache__/
questions.txt
/ng
/FileContentIndex/
/v17
sqln.sqlite
VSWorkspaceState.json
*.jfm
.vs/
